.accordion {
    margin: 70px 0;
    width: 75%;
    @media only screen and (max-width: 992px) {
        margin: 20px 0;
        width: 100%;
      }
}

.accordion-item {
    background-color: #FFF;
    margin: 15px 0;
    border-radius: 25px !important;
    padding: 25px;
    border: 1px solid #dee2e6;
    
}

.accordion-title {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
.accordion-content {
    overflow: hidden;
    margin: 20px 0;
    font-size: 16px;
}
