.book-section-4 {

    .slider {
        max-width: 50%;
        width: 550px;
        margin: 0 auto;
        height: 600px;
        display: flex;
        align-items: center;

        @media only screen and (max-width: 1600px) {
            padding: 0 20px;
        }

        @media only screen and (max-width: 992px) {
          max-width: 100%;
          width: 100%;
          padding: 0;
        }
    

        .swiper {
          width: 520px;
          height: 650px;
          background: #000;
          border-radius: 20px;
        }
        
        .swiper-slide {
          color: #fff;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          padding: 40px 20px;

          .content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            justify-content: space-between;

            .overlay {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba($color: #000000, $alpha: .3);
              z-index: 1;
            }
          }
        }
        
        .parallax-bg {
          position: absolute;
          left: 0;
          top: 0;
          width: 130%;
          height: 100%;
          -webkit-background-size: cover;
          background-size: cover;
          background-position: center;
          z-index: 0;

          @media only screen and (max-width: 992px) {
            background-position: 30% 65%;
          }
        }
        
        .heading {
          display: flex;
          flex-direction: column;
          row-gap: 20px;
          color: #FFF;
          .subtitle {
            font-size: 21px;
            z-index: 10;
          }

          .text {
            z-index: 10;
          }
        }
        .swiper-slide .subtitle {
          font-size: 21px;
          z-index: 10;
        }
        
        .swiper-slide .text {
          z-index: 10;
        }

        .swiper-slide h3 {
          z-index: 10;
        }
        
      
    }
  }

  
  