.book-hero-section {
    position: relative;
    //top: var(--visina-headera);
    height: calc(100dvh);
    width: 100%;
    background-image: url(../../assets/plumb-tree.jpg);
    background-position: 50% var(--visina-headera);
    background-size: cover;
    background-repeat: no-repeat;

    @media only screen and (max-width: 992px) {
        display: flex;
        justify-content: center;
    }

    .opacity {
        position: absolute;
        top: var(--visina-headera);
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0,0,0,.3) 0%, rgba(0,0,0,.3) 35%, rgba(255,255,255,.3) 100%);
        
    }

    .book-main-box {
        position: relative;
        top: var(--visina-headera);
        height: calc(100dvh);
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        @media only screen and (max-width: 992px) {
            align-items: center;
        }

        &--content {
            position: relative;
            width: 85%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            row-gap: 50px;
            text-align: left;

            h1, p, .subtitle {
                color: #FFF;
            }

            .subtitle {
                padding-bottom: 20px;
            }
    
            @media only screen and (max-width: 1400px) {
                row-gap: 40px;
            }
    
            @media only screen and (max-width: 992px) {
                width: auto;
                text-align: center;
                align-items: center;
            }
        }
        .btn-prime {
            margin-top: 100px;
            width: 250px;

            @media only screen and (max-width: 992px) {
                margin-top: 50px;
            }
        }
    }

}

.book-section-1 {
    position: relative;
    width: 100%;
    margin: 70px 0;

    @media only screen and (max-width: 1400px) {
        justify-content: center;
    }

    @media only screen and (max-width: 992px) {
        margin-bottom: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media only screen and (max-width: 776px) {
        margin-bottom: 100%;
    }

    .main-box {
        display: flex;

        @media only screen and (max-width: 992px) {
           flex-direction: column;
           row-gap: 50px;
        }

        .text-box {
            height: fit-content;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-self: center;
    
            @media only screen and (max-width: 992px) {
                text-align: center;
                align-items: center;
                justify-content: center;
                width: 100%;
                // margin-bottom: 50px;
            }

            &--content {
                display: flex;
                flex-direction: column;
                row-gap: 50px;

                .heading {
                    display: flex;
                    flex-direction: column;
                    row-gap: 20px;
                }
        
                .mask {
                    font-size: inherit;
                    font-weight: inherit;
                    color: #EE1671;
                }

            }
    
            .btn-prime {
            margin-top: 100px;
            @media only screen and (max-width: 992px) {
                margin-top: 50px;
            }
         }
        }
    }
}