.book-hero-section {
    position: relative;
    //top: var(--visina-headera);
    height: calc(100dvh);
    width: 100%;
    background-image: url(../../assets/book/book-landing-hero-ai.jpg);
    background-position: 50% var(--visina-headera);
    background-size: cover;
    background-repeat: no-repeat;

    @media only screen and (max-width: 992px) {
        display: flex;
        justify-content: center;
    }

    .opacity {
        position: absolute;
        top: var(--visina-headera);
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0,0,0,.3) 0%, rgba(0,0,0,.3) 35%, rgba(255,255,255,.3) 100%);
        
    }

    .book-main-box {
        position: relative;
        top: var(--visina-headera);
        height: calc(100dvh);
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        @media only screen and (max-width: 992px) {
            align-items: center;
        }

        &--content {
            position: relative;
            width: 85%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            row-gap: 50px;
            text-align: left;

            @media only screen and (max-width: 1400px) {
                row-gap: 40px;
            }

            h1, p, .subtitle {
                color: #FFF;
            }

            h1 {
                @media only screen and (max-width: 992px) {
                    font-size: 32px;
                }
            }

            .subtitle {
                padding-bottom: 20px;
            }
    
            @media only screen and (max-width: 1400px) {
                row-gap: 40px;
            }
    
            @media only screen and (max-width: 992px) {
                width: auto;
                text-align: center;
                align-items: center;
            }
        }
        .btn-prime {
            margin-top: 100px;
            width: 250px;

            @media only screen and (max-width: 992px) {
                margin-top: 50px;
            }
        }
    }

}

.book-section-1 {
    position: relative;
    width: 100%;
    margin: 70px 0;

    @media only screen and (max-width: 1400px) {
        justify-content: center;
    }

    @media only screen and (max-width: 992px) {
        margin-bottom: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .main-box {
        display: flex;

        @media only screen and (max-width: 992px) {
           flex-direction: column;
           row-gap: 50px;
        }

        .text-box {
            height: fit-content;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-self: center;
    
            @media only screen and (max-width: 992px) {
                text-align: center;
                align-items: center;
                justify-content: center;
                width: 100%;
                // margin-bottom: 50px;
            }

            &--content {
                display: flex;
                flex-direction: column;
                row-gap: 50px;

                .heading {
                    display: flex;
                    flex-direction: column;
                    row-gap: 20px;
                }
        
                .mask {
                    font-size: inherit;
                    font-weight: inherit;
                    color: #EE1671;
                }

            }
    
            .btn-prime {
            margin-top: 100px;
            @media only screen and (max-width: 992px) {
                margin-top: 50px;
            }
         }
        }
        .img-box-container {
            position: relative;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            

            @media only screen and (max-width: 992px) {
                width: 100%;
                display: flex;
                justify-content: center;
            }


            &--img {
                width: auto;
                height: 650px;
                border-radius: 20px;

                @media only screen and (max-width: 1200px) {
                    height: 500px;
                }

                @media only screen and (max-width: 992px) {
                    height: auto;
                    width: 75%;
                }

                @media only screen and (max-width: 776px) {
                    height: auto;
                    width: 100%;
                }
            }
        }
    }


}

.book-section-2 {
    position: relative;
    width: 100%;
    margin: 70px 0;

    @media only screen and (max-width: 1400px) {
        justify-content: center;
    }

    @media only screen and (max-width: 992px) {
        margin-bottom: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .slider {
        position: relative;
        width: 100%;
        margin: auto;
    }
}

.book-section-3 {
    position: relative;
    padding: 70px 0;
    width: 100%;

    @media only screen and (max-width: 992px) {
        padding: 0;
    }
    

    @media only screen and (max-width: 992px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &--content-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        

        @media only screen and (max-width: 992px) {
            flex-direction: column;
            row-gap: 50px;
        }

        .img_box {
            width: 50%;
            display: flex;
            align-items: flex-start;
            justify-content: center;

            @media only screen and (max-width: 992px) {
                order: 2;
                width: 100%;
            }

            img {
                height: 520px;
                border-radius: 20px;

                @media only screen and (max-width: 1600px) {
                    height: auto;
                    width: 90%;
                }

                @media only screen and (max-width: 1200px) {
                    height: auto;
                    width: 90%;
                }

                @media only screen and (max-width: 992px) {
                    width: 75%;
                }

                @media only screen and (max-width: 776px) {
                    width: 100%;
                }
            }
        }

        .text-content-box {
            width: 50%;
            display: flex;
            flex-direction: column;
            row-gap: 50px;

            @media only screen and (max-width: 992px) {
                order: 1;
                width: 100%;
                justify-content: center;
                text-align: center;
            }

            .heading {
                display: flex;
                flex-direction: column;
                row-gap: 20px;
            }

            .text {
                display: flex;
                flex-direction: column;
                row-gap: 20px;
            }
        }
    }
}


.book-section-4 {
    position: relative;
    padding: 70px 0;
    width: 100%;

    .content-box {
        display: flex;
        flex-direction: row;
        align-items: center;

        @media only screen and (max-width: 992px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            row-gap: 50px;
        }

        .text-content-box {
            width: 50%;
            display: flex;
            flex-direction: column;
            row-gap: 50px;
            
            @media only screen and (max-width: 992px) {
                width: 100%;
                justify-content: center;
                text-align: center;
            }

            .heading {
                display: flex;
                flex-direction: column;
                row-gap: 20px;

                .mask {
                    font-size: inherit;
                    font-weight: inherit;
                    color: #EE1671;
                }
            }

            .text {
                display: flex;
                flex-direction: column;
                row-gap: 20px;
            }

            .list-items {
                display: flex;
                row-gap: 20px;
                flex-direction: column;
                .like-list {
                    display: flex;
                    flex-direction: column;
                    row-gap: 15px;
                    padding-left: 10px;
                }
            }
        }
    }
}